/* # tictactoe-js */
* {
    margin: 0px;
    padding: 0px;
    background-color: #EFE6DD;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

/* Bold */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* Italic */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4vmin
}

.game {
    display: flex;
    height: 50vmin;
    max-height: 700px;
    width: 60vmin;
    gap: 2vmin;
    /* 1% of viewport's smaller dimension */

    flex-wrap: wrap;
    /* it will go left to right in row */
    justify-content: center;
    align-items: center;
    
}

.h1 {
    font-size: 18vmin;
    margin-bottom: 100%;
    padding: 2rem;
}
.box {
    height: 15vmin;
    width: 15vmin;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 1rem 1rem 1rem rgba(77, 80, 87, 0.3);
    background-color: #231F20;
    font-size: 8vmin;
    color: #CFCFCF;
}

.msg-container{
    align-items: end;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 1%;
}

#msg {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0A8754;
    font-size: 2rem;

}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.5rem;
    margin-top: 1rem;
    flex-direction: column;
    gap: 2rem;
    height: 9vmin;
}

#turnMsg {
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: #0A8754;
    /* background-color: #CFCFCF; */
    font-family: 'Ubuntu', sans-serif;
}

#newBtn {
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: #50514F;
    background-color: #CFCFCF;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

#resetBtn {
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: #50514F;
    background-color: #CFCFCF;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#quote-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    text-align: center;
}

.hide{
    display: none;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
