* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: #9f9fa3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

h1 {
    font-size: 2rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 50vw;
    height: 60px;
    padding: 15px;
    font-size: 22px;
    margin: 50px;
    text-align: center;
    background-color: #a7a0a0;
    border-radius: 7px;
    border: 3px solid #2b2c2e;
    outline: none;
}

#input::placeholder {
    color: #1b1c1d;
}

button {
    font-size: 1rem;
    padding: 8px 20px;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
    border-radius: 15px;
    background-color: #636161;
    border: 2px solid #c9ccd5;
    color: #fff;
    outline: none;
}

button:hover {
    background-color: #333;
}

#loading {
    display: none;
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 6px solid rgba(134, 51, 51, 0.15);
    border-top: 5px solid #fff;
    animation: loading 1s linear infinite;
}

img {
    text-align: center;
    margin-right: 20px;
}

#code-img{
    display: none;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 1.5rem;
    }
    input {
        width: 80%;
    }
    img {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    input {
        width: 80%;
    }
}